version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: need_to_get_db
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: needtoget
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
